/* ////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// DOCUMENT /// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* ----------------------------------------------------------------- DOCUMENT --- */
html,
body {
    overflow: hidden;
    user-select: text;
}

/* --------------------------------------------------------------------- HTML --- */
html {
    height: 100%;
}

html.browser_resize * {
    transition: none !important;
}

/* --------------------------------------------------------------------- BODY --- */
body {
    display: flex;
    min-height: 100%;
    flex-flow: column;
}
