/* ////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// DETAIL /// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* -------------------------------------------------------------------- ASIDE --- */
aside.data {
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 24px rgba($grey9, 0.125);
    @media (min-width: ($break2 + 1px)), (max-width: $break2) and (min-width: ($break1 + 1px)) {
        left: 50%;
        border-radius: 4px;
        transform: translateX(-50%);
    }
    @media (min-width: ($break2 + 1px)) {
        width: calc((100% - 48px));
        height: 150px;
        max-width: 1232px;
        margin-bottom: 24px;
    }
    @media (max-width: $break2) and (min-width: ($break1 + 1px)) {
        width: calc((100% - 32px));
        height: 134px;
        margin-bottom: 16px;
    }
    @media (max-width: $break1) {
        left: 0;
        width: 100%;
        height: 50%;
    }
}
aside.data:not(.display) {
    display: none;
}
aside.data::before,
aside.data::after {
    position: absolute;
    z-index: 2;
    display: block;
    @media (max-width: $break2) and (min-width: ($break1 + 1px)), (max-width: $break1) {
        content: '';
    }
    @media (max-width: $break2) and (min-width: ($break1 + 1px)) {
        top: 0;
        width: 16px;
        height: 100%;
    }
    @media (max-width: $break1) {
        left: 0;
        width: 100%;
        height: 16px;
    }
}
aside.data::before {
    @media (max-width: $break2) and (min-width: ($break1 + 1px)) {
        left: 0;
        background-image: linear-gradient(-90deg, $scroll-feather);
    }
    @media (max-width: $break1) {
        top: 0;
        background-image: linear-gradient(0deg, $scroll-feather);
    }
}
aside.data::after {
    @media (max-width: $break2) and (min-width: ($break1 + 1px)) {
        right: 0;
        background-image: linear-gradient(90deg, $scroll-feather);
    }
    @media (max-width: $break1) {
        bottom: 0;
        background-image: linear-gradient(180deg, $scroll-feather);
    }
}

html.detail_active aside.data {
    box-shadow: unset;
}

/* ------------------------------------------------------------------- SCROLL --- */
aside.data .scroll {
    display: flex;
    @media (max-width: $break2) and (min-width: ($break1 + 1px)), (max-width: $break1) {
        overflow: auto;
    }
    @media (max-width: $break2) and (min-width: ($break1 + 1px)) {
        width: 100%;
        height: calc((100% + 32px));
        padding-bottom: 32px;
        scroll-snap-type: x proximity;
    }
    @media (max-width: $break1) {
        width: calc((100% + 32px));
        height: 100%;
        padding-right: 32px;
        flex-flow: column;
    }
}

/* ------------------------------------------------------------------ HEADING --- */
aside.data h2 {
    color: $grey9;
    @media (min-width: ($break1 + 1px)) {
        margin-bottom: 12px;
        flex-basis: 100%;
    }
    @media (max-width: $break1) {
        position: sticky;
        top: 0;
        z-index: 1;
        width: calc((100% + 32px));
        padding: 12px 16px;
        margin: 0 -16px;
        background-color: white;
    }
}
aside.data h2[stuck] {
    @media (max-width: $break1) {
        box-shadow: 0 0 8px rgba(black, 0.25);
    }
}
aside.data h2::after {
    display: inline-block;
    margin-left: 8px;
    color: $grey3;
    font-size: 10px;
    font-weight: 400;
}
aside.data .group.speed h2::after,
aside.data .group.pace h2::after {
    content: '(Average)';
}
aside.data h3 {
    margin-bottom: 6px;
    color: $grey6;
}

/* -------------------------------------------------------------------- GROUP --- */
aside.data .group {
    display: flex;
    align-content: flex-start;
    flex: 0 0 auto;
    flex-wrap: wrap;
    @media (max-width: $break2) and (min-width: ($break1 + 1px)), (max-width: $break1) {
        scroll-snap-align: start;
    }
    @media (min-width: ($break2 + 1px)) {
        padding: 0 24px;
        margin: 24px 0;
        flex: 1;
    }
    @media (max-width: $break2) and (min-width: ($break1 + 1px)) {
        width: 218px;
        padding: 0 16px;
        margin: 16px 0;
    }
    @media (max-width: $break1) {
        padding: 4px 0 16px;
        margin: 0 16px;
    }
}
aside.data .group:not(:last-child) {
    @media (min-width: ($break1 + 1px)) {
        border-right: 1px solid $grey0;
    }
    @media (max-width: $break1) {
        border-bottom: 1px solid $grey0;
    }
}

/* --------------------------------------------------------------------- ITEM --- */
aside.data .group .item {
    @media (min-width: ($break1 + 1px)) {
        width: 50%;
    }
    @media (max-width: $break1) and (min-width: ($break0 + 1px)) {
        width: 25%;
    }
    @media (max-width: $break0) {
        width: 50%;
    }
}
aside.data .group .item:not(:nth-of-type(-n+2)) {
    @media (min-width: ($break1 + 1px)), (max-width: $break0) {
        margin-top: 10px;
    }
}

/* -------------------------------------------------------------------- VALUE --- */
aside.data .item:nth-of-type(4) .value {
    font-weight: 800;
}
