/* ////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////// DETAIL /// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* ------------------------------------------------------------------- DETAIL --- */
aside.detail {
    @media (min-width: ($break1 + 1px)) {
        top: 0;
        left: 0;
        display: flex;
        width: 320px;
        height: calc((100% - 222px));
        margin: 24px;
        flex-flow: column;
        transform: translateX(calc(((100% + 24px) * -1)));
        transition: transform 160ms;
        will-change: transform;
        pointer-events: none;
    }
    @media (max-width: $break1) {
        display: none;
    }
}
aside.detail.display {
    @media (min-width: ($break1 + 1px)) {
        transform: translateX(0);
    }
}

/* -------------------------------------------------------------------- INNER --- */
aside.detail > div {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    pointer-events: all;
}
aside.detail.display > div {
    box-shadow: 0 0 24px rgba($grey9, 0.125);
}
aside.detail > div::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 24px;
    content: '';
    background-image: linear-gradient(rgba(white, 0), rgba(white, 1) 75%, rgba(white, 1) 100%);
    border-radius: 0 0 4px 4px;
}

/* ------------------------------------------------------------------- SCROLL --- */
aside.detail .scroll {
    width: calc(100% + 32px);
    max-height: 100%;
    padding-top: 74px;
    padding-right: 32px;
    overflow: scroll;
}

/* --------------------------------------------------------------------- META --- */
aside.detail .meta {
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    padding: 24px 24px 12px;
    flex-wrap: wrap;
    border-radius: 4px 4px 0 0;
    background-color: white;
}
aside.detail .meta h1 {
    margin-bottom: 8px;
    flex-basis: 100%;
    color: $grey9;
}
aside.detail .meta time.date {
    margin-right: 0.25em;
    color: $grey6;
    font-size: 12px;
}
aside.detail .meta time.time {
    margin-top: 1px;
    color: $grey3;
    font-size: 10px;
}
aside.detail .meta time.time::before {
    content: '(';
}
aside.detail .meta time.time::after {
    content: ')';
}

/* ------------------------------------------------------------------ HEADING --- */
aside.detail h2 {
    position: sticky;
    top: 0;
    z-index: 1;
    width: calc((100% + 48px));
    padding: 8px 24px 12px;
    margin: 0 -24px;
    color: $grey9;
    background-color: white;
}
aside.detail h2[stuck] {
    box-shadow: 0 0 8px rgba(black, 0.25);
}
aside.detail h3 {
    margin-bottom: 6px;
    color: $grey6;
}
aside.detail h3::after {
    display: inline-block;
    margin-left: 4px;
    color: $grey3;
    font-size: 8px;
    font-weight: 400;
}

/* -------------------------------------------------------------------- GROUP --- */
aside.detail .group {
    z-index: 1;
    display: flex;
    padding: 0 24px 20px;
    flex-wrap: wrap;
    background-color: white;
}
aside.detail .group:not(:nth-child(2)) {
    padding-top: 12px;
}
aside.detail .group:not(:last-child) {
    border-bottom: 1px solid $grey0;
}
aside.detail .group:last-child {
    padding-bottom: 24px;
}

/* ------------------------------------------------------------- GROUP : STAT --- */
aside.detail .group.stat {
    justify-content: space-between;
}
aside.detail .group.stat .item {
    width: calc(((1 / 3) * 100%));
    padding: 2px;
}
aside.detail .group.stat .item:not(:nth-last-of-type(-n+3)) {
    padding-bottom: 8px;
}
aside.detail .group.stat .item:not(:nth-of-type(3n+1)) {
    padding-left: 12px;
}
aside.detail .group.stat .item:not(:nth-of-type(3n-3)) {
    padding-right: 12px;
    border-right: 1px solid $grey0;
}
aside.detail .group.stat .item:not(:nth-of-type(-n+3)) {
    padding-top: 8px;
    border-top: 1px solid $grey0;
}
aside.detail .group.stat .item.speed h3::after,
aside.detail .group.stat .item.pace h3::after {
    content: '(Avg)';
}

/* ------------------------------------------------------------ GROUP : SPLIT --- */
aside.detail .group.split table {
    width: 100%;
    margin-top: 4px;
    table-layout: fixed;
}
aside.detail .group.split table th {
    padding-bottom: 8px;
    color: $grey6;
    font-size: 10px;
}
aside.detail .group.split table th.km {
    width: 40px;
}
aside.detail .group.split table th.pace {
    width: 56px;
}
aside.detail .group.split table th.elevation {
    width: 32px;
    text-align: right;
}
aside.detail .group.split table th.pace::after {
    margin-left: 0.5em;
    content: 'KM/H';
    font-size: 62.5%;
}
aside.detail .group.split table td {
    color: $grey9;
    font-size: 10px;
    font-variant-numeric: tabular-nums;
    vertical-align: middle;
}
aside.detail .group.split table tr.fastest td {
    font-weight: 600;
}
aside.detail .group.split table td:not(:last-child) {
    padding-right: 12px;
}
aside.detail .group.split table tr:not(:last-child) td {
    padding-bottom: 6px;
}
aside.detail .group.split table td.elevation {
    text-align: right;
}
aside.detail .group.split table td.elevation:after {
    margin-left: 0.25em;
    color: $grey6;
    content: 'M';
    font-size: 62.5%;
}
aside.detail .group.split table td.delta div {
    width: calc((#{var(--delta)} * 100%));
    height: 12px;
    background-color: $plum6;
    border-radius: 2px;
}
aside.detail .group.split table tr.fastest td.delta div {
    background-color: $gold6;
}

/* ------------------------------------------------------------ GROUP : AWARD --- */
aside.detail .group.award .item {
    display: flex;
    max-width: calc((((1 / 3) * 100%) - 4px));
    padding: 12px 8px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    flex-flow: column;
    border: 1px solid;
    border-radius: 4px;
}
aside.detail .group.award .item:not(:last-child) {
    margin-right: 6px;
}
aside.detail .group.award .item.gold {
    background-color: $gold0;
    border-color: $gold6;
}
aside.detail .group.award .item.silver {
    background-color: $snow3;
    border-color: $grey3;
}
aside.detail .group.award .item.bronze {
    background-color: $coco0;
    border-color: $coco6;
}
aside.detail .group.award .item::before {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
    content: '';
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
}
aside.detail .group.award .item.gold::before {
    background-color: $gold6;
    mask-image: url('../gfx/medal/gold.svg');
}
aside.detail .group.award .item.silver::before {
    background-color: $grey3;
    mask-image: url('../gfx/medal/silver.svg');
}
aside.detail .group.award .item.bronze::before {
    background-color: $coco6;
    mask-image: url('../gfx/medal/bronze.svg');
}
aside.detail .group.award .item::after {
    color: $grey9;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    white-space: pre;
}
aside.detail .group.award .item.distance::after {
    content: 'Longest\A Distance';
}
aside.detail .group.award .item.elevation::after {
    content: 'Elevation\A Gain';
}
aside.detail .group.award .item.time::after {
    content: 'Moving\A Time';
}
