/* ////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// MAP /// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* ------------------------------------------------------------------ SECTION --- */
section.map {
    z-index: 1;
    padding: 32px 32px 212px;
    background-color: $snow6;
    @include position-fill(absolute);
}

/* ------------------------------------------------------------------- CANVAS --- */
section.map .canvas {
    z-index: 1;
    @include position-fill(absolute);
}
section.map .canvas .mapboxgl-control-container {
    display: none;
}
