/* ////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// TYPOGRAPHY /// */
/* ////////////////////////////////////////////////////////////////////////////// */

/* ----------------------------------------------------------------- DOCUMENT --- */
html,
body {
    color: red;
    font-family: $family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------------------------------------ HEADING --- */
h2 {
    font-size: 16px;
    font-weight: 600;
}
h3 {
    font-size: 10px;
    font-weight: 400;
}

/* ------------------------------------------------------------------- ANCHOR --- */
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
